


#bannerContainer {
    position: absolute;
    background-color: rgb(13, 0, 255); 
    width: 950px;
    height: 300px;
    left: 20px;
    top: 20px;
    background-image: url("../assets/desertroad.jpg");
    overflow: hidden;
    border: 2px solid #888;

  }

  
#logoContainer{
    position: absolute;
    background-color: white;
    background-size: contain;
    width: 950px;
    height: 300px;
    left: 0px;
    top: -300px;
  
}

#vw1{
    height: 150px;
    width: auto;   
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
   
           
}

#link{
  text-align: center;
  font-family:cursive;
  color: blue;
  font-size: 20px;
}



#carContainer {
  position: absolute;  
  width: 500px;
  height: 275px;
  left: -600px;
  top:  60px;
}

#car {
  position: absolute;
  background-size: contain;
  width: 550px;
  height: 275px;
  left: 10px;
  top: -50px;
}

#wheel1 {
  height: 95px;
  width: auto;
  position: absolute;
  left: 417px;
  top: 132px;
  z-index: 11;
  transform: rotate(0deg);
 
}

#rim1 {
  height: 95px;
  width: auto;
}

#wheel2 {
  height: 95px;
  width: auto;
  position: absolute;
  left: 48px;
  top: 132px;
  z-index: 11;
}

#rim2 {
  height: 95px;
  width: auto;
}
