#bannerContainer {
    position: absolute;
    background-color: rgb(13, 0, 255); 
    width: 950px;
    height: 300px;
    left: 20px;
    top: 20px;
    background-image: url("../assets/desertroad.jpg");
    overflow: hidden;
    border: 2px solid #888;
    z-index: 1;
    opacity: 1;
      
  
  }

  #darkContainer{
    opacity: 0;
    position: absolute;
    background-color: black;
    background-size: contain;
    width: 950px;
    height: 300px;
    left: 0px;
    top: 0px;
    z-index: 7;
  
}

#replay{
  height: 150px;
  width: auto;   
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
 
         
}

#studenttext{   
  opacity: 0;
  position: absolute;
  font-family:cursive;
  font-size: 30px;
  color: white;
  text-shadow: 0 0 5px navy;
  left: 25px; 
  
}

#studentid{   
  position: absolute;
  font-family:cursive;
  font-size: 30px;
  color: white;
  text-shadow: 0 0 5px navy;
  right: 25px;
    
}

  
#logoContainer{
    position: absolute;
    background-color: white;
    background-size: contain;
    width: 950px;
    height: 300px;
    left: 0px;
    top: -300px;
    z-index: 4;
  
}

#vw1{
    height: 150px;
    width: auto;   
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
   
           
}

#link{
  text-align: center;
  font-family:cursive;
  color: navy;
  font-size: 20px;
}



#carContainer {
  position: absolute;  
  width: 500px;
  height: 275px;
  left: -600px;
  top:  60px;
  z-index: 2;
}

#car {
  position: absolute;
  background-size: contain;
  width: 550px;
  height: 275px;
  left: 10px;
  top: -50px;
}

#wheel1 {
  height: 95px;
  width: auto;
  position: absolute;
  left: 417px;
  top: 132px; 
  transform: rotate(0deg);
  z-index: 3;
 
}

#rim1 {
  height: 95px;
  width: auto;
}

#wheel2 {
  height: 95px;
  width: auto;
  position: absolute;
  left: 48px;
  top: 132px; 
  transform: rotate(0deg);
  z-index: 3; 
}

#rim2 {
  height: 95px;
  width: auto;
}



#text1{
  opacity: 0;
  position: absolute;
  font-family:cursive;
  font-size: 30px;
  color: white;
  text-shadow: 0 0 5px navy;
  top: 10px;
  z-index: 4; 
  left: 750px;
 

}

#text2{
  opacity: 0;
  position: absolute;
  font-family:cursive;
  font-size: 30px;
  color: white;
  text-shadow: 0 0 5px navy;
  top: 75px;
  z-index: 4; 
  left: 750px;

}

#button{
  opacity: 0;
  position: absolute;
  width: 120px;
  height: 45px;
  top: 200px;
  left: 750px;
  background: white;
  text-align: center;
  font-family:cursive;
  line-height: 45px;
  border-radius: 35px;
  color: navy;
  box-shadow: 0 0 5px navy;

 
}


