#cityBox {
  width: 800px;
  height: 300px;
  background-image: url("assets/auckland.jpg");
  overflow: hidden;
  position: relative;
  border: 3px solid black;
}


#lionRock {
  visibility: hidden;
  animation-name: lionrockMove;
  animation-duration: 12s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}


#question {
  position: absolute;
  margin-left: 25px;
  font-family: cursive;
  font-size: 65px;
  color: black;
  text-shadow: 2px 2px white;
  animation-name: questionMove;
  animation-duration: 12s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}

#piha {
  position: absolute; 
  margin-left: 25px;
  opacity: 0;
  font-family: cursive;
  font-size: 60px;
  color: yellow;
  text-shadow: 2px 2px red;  
  animation-name: pihaFade;
  animation-duration: 12s; 
  animation-delay: 5s; 
    
  animation-iteration-count: infinite;
}

#paradise {
  position: absolute; 
  margin-left: 25px;
  opacity: 0;
  font-family: cursive;
  font-size: 60px;
  color: yellow;
  text-shadow: 2px 2px red;  
  animation-name: paradiseFade;
  animation-delay: 5s; 
  animation-duration: 12s;  
  animation-iteration-count: infinite;
}

@keyframes questionMove {
  0% {
    margin-left: 25px;
    font-size: 65px;
    opacity: 1;
  }

  25% {
    margin-left: 25px;
    font-size: 65px;
    opacity: 1;
    transform: rotate(0deg);
  }

  50% {
    margin-left: 800px;
    font-size: 0px;
    opacity: 0;
    transform: rotate(90deg);
  }

  100% {
    margin-left: 800px;
    font-size: 0px;
    opacity: 0;
    transform: rotate(180deg)
  }
}

@keyframes lionrockMove {
  0% {
    visibility: visible;
    margin-left: -2000px;


  }

  25% {
    visibility: visible;
    margin-left: -775px;


  }

  50% {
    visibility: visible;
    margin-left: 0px;
    


  }

  75% {
    visibility: visible;
    margin-left: 0px;

  }



  100% {
    visibility: visible;
    margin-left: -800px;

  }


}



@keyframes pihaFade {
  0% {
    margin-top: -50px;

    opacity: 1;
  }


  25% {

    opacity: 1;
    margin-top: 140px;
    


  }

  26% {
    opacity: 0;
    margin-top: 140px;

    
    


  }

  50% {
    opacity: 0;
    margin-top: 140px;

  }

  100% {


    opacity: 0;
    margin-top: 140px;
  }


}

@keyframes paradiseFade {
  0% {
    margin-top: -50px;
    opacity: 0;
  }


  25% {

    opacity: 0;
    margin-top: 140px;    


  }

  26% {
    opacity: 1;
    margin-top: 140px;

  }

  35% {
    opacity: 1;
    margin-top: 140px;
    

  }
  50% {
    opacity: 0;
    margin-top: 350px;  
    
  

  }


 


}